/* src/components/CartPage.css */

.cart-page {
  width: 90%;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.cart-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

/* Left side (products) */
.cart-list {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Right side (summary) */
.cart-summary {
  flex: 1;
  align-self: flex-start;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 8px;
  position: sticky;
  top: 20px;
}

.checkout-btn {
  background: #ffd814;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.checkout-btn:hover {
  background: #f7ca00;
}
