.product-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 80px;
  background: #0f0f10;
  color: white;
  font-family: "Poppins", sans-serif;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  background: #111;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}
