.gallery-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover,
.thumbnail.active {
  border-color: #ff1e1e;
}

.main-image img {
  width: 600px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
